.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid var(--border-color);
    padding: 10px 0;
    margin-bottom: 20px
}

.bookingsContainer {
    min-width: 315px;
    margin-bottom: 40px;
}

@media screen and (min-width: 700px) {
    .bookingsContainer {
        width: 500px;
    }
}

.container {
    width: clamp(300px, 90dvw, 500px);
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--surface-color);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.date {

}

.room {
    padding-bottom: 5px;
    color: var(--text-secondary-color);
    border-bottom: 0.5px solid var(--border-color);
    margin: 0 50px 10px 0;

}

.time {

}

.bottomHalf {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    cursor: pointer;
}

.options {
    display: flex;
    gap: 20px;
}

.equipment {
    margin-right: auto;
}

.cancel {
    display: flex;
    justify-content: center;
    margin-top: auto;
    max-height: 28px;
    width: 30%;
}
.cancel, .confirmCancel {
    
    padding: 5px 14px 5px 14px;
    background-color: var(--reject-color);
}

.cancel:active {
    background-color: var(--active-reject-color);
}

.modalContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
}

.question {
    margin-bottom: 10px;
}

.modalOptions {
    margin-top: 0px;
    display: flex;
    gap: 20px;
    height: 36px;

}
.confirmCancel {
    width: 100%;
}
.nevermind {
    background-color: var(--border-color);
    width: 100%;
    height: 100%;
}

.note {
    margin-top: 10px;
}

.pageContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}