.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
@media screen and (min-width: 700px) {
    .main {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 30px;
    }
    .side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 23px;
        width: clamp(200px, 50dvw, 500px);
    }
    .calendar {
        max-width: 500px;
    }
    .sideMenus {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


.inCart {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    padding-top: 10px;
    border-top: 0.5px solid var(--border-color);
}
.sideMenus {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.backlineText {
    margin: 20px 0;
}

.backlineContainer {

}

.submitButtonContainer {
    margin-top: auto;
}

.submitButton {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.checkoutContainer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.checkoutList {
    width: clamp(300px, 100%, 600px);
}
.checkoutButton {
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
}


