@media screen and (min-width: 700px) {
    .main {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .side {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 23px;
        width: clamp(200px, 100%, 500px);
    }
    .calendar {
        max-width: 500px;
    }
    .sideMenus {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


.inCart {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 0.5px solid var(--border-color);
}
.sideMenus {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.backlineText {
    margin: 20px 0;
}

.backlineContainer {

}

.submitButton {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.checkoutButton {
    justify-content: flex-start;
    width: 100%;
    max-width: 400px;
}


