.container {
    width: clamp(250px, 100%, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: clamp(300px, 100%, 600px);
    display: flex;
    flex-direction: column;
}


.cartHeader {
    display: flex;
    justify-content: flex-start;
    gap: clamp( 20px, 20dvw, 250px);
    padding-bottom: 20px;
    width: clamp(250px, 100%, 500px);
    border-bottom: 0.5px solid var(--border-color);
}

.bookingInfo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    margin-top: 20px;
}


.brandButton {
    padding: 13px 20px 13px 14px;
    margin-top: 20px;
    justify-content: flex-start;

}

.bottom {
    margin-top: 20px;
    width: clamp(300px, 100%, 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button:active {

}

.priceContainer {
    display: flex;
    flex-direction: column;
}

.totalText {
    padding: 0 100px 10px 0 ;
    margin-right: auto;
    border-bottom: 0.5px solid var(--border-color);
}

.priceTotal {
    padding-top: 20px;
    margin-left: auto;
}