.body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.main {
    flex: 1;
}

.adminMessage {
    display: flex;
    justify-content: center;
    background-color: var(--gold-color);
}

.adminMessage span {
    color: var(--brand-text-color);
}
.message {
    background-color: var(--confirm-color);
}

.error {
    background-color: var(--reject-color)
}

.text {
    color: var(--brand-text-color);
}


