.body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.main {
    flex: 1;
    margin: 0 clamp(20px, 5dvw, 200px);
}

.adminMessage {
    display: flex;
    justify-content: center;
    background-color: var(--gold-color);
}

.adminMessage span {
    color: var(--brand-text-color);
}
.message {
    display: flex;
    justify-content: center;
    background-color: var(--confirm-color);
    color: var(--brand-text-color);
    font-weight: bold;
}

.error {
    display: flex;
    justify-content: center;
    background-color: var(--reject-color);
    color: var(--brand-text-color);
    font-weight: bold;
}




