.main {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
}

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
        gap: 0px;
    }
}

.currentDate {
    background-color: var(--surface-color) !important;
    color: rgb(0, 0, 0, 0.3);
}

.activeDate {
    background-color: var(--brand-color);
}

.notAllowedDate {
    background-color: var(--surface-color);
    color: rgb(0, 0, 0, 0.3);
}

.monthView {
    z-index: 0 !important;
    flex: 1;
}

.dayView {
}




@media screen and (min-width: 700px) {
  .dayView {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .monthView {
    display: none;
  }
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}