.main {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
}

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }
}

.currentDate {
}

.activeDate {
    background-color: var(--brand-color);
}

.notAllowedDate {
    background-color: var(--text-secondary-color);
}

.monthView {
    flex: 1;
}

.dayView {
    padding-top: 20px;
}


@media screen and (min-width: 700px) {
  .dayView {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .monthView {
    display: none;
  }
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}