.main {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: clamp(50dvw, 90dvw, 500px);
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 2px;
    background-color: var(--surface-color);
}

.date {

}

.room {
    padding-bottom: 5px;
    color: var(--text-secondary-color);
    border-bottom: 0.5px solid var(--border-color);
    margin: 0 50px 10px 0;

}

.time {

}

.option {
    cursor: pointer;
    text-align: center;
    width: clamp(100px, 25dvw, 300px);
    background-color: var(--brand-color);
    color: var(--brand-text-color);

}

.backlineTab {

}

.inputContainer {
    margin: 10px 0 0 0;

}

.checkboxContainer {

}
.checkboxContainer input {
    margin: 10px 0 10px 0;
}
.checkboxContainer label {
    padding: 0 0 0 10px
}

.infoBox {
    margin: 10px 0 0 0 ;

}

.infoBox span {
}

.infoBox:focus {
    
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: clamp(10px, 5dvw, 100px)
}

.applyAll {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    width: clamp(125px, 25dvw, 200px);
    color: var(--brand-text-color);
    background-color: var(--surface-elevated-color);
    background-color: var(--brand-color);
    color: var(--brand-text-color);
}

.closeButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
    width: clamp(25px, 15dvw, 200px);
    color: var(--brand-text-color);
    background-color: var(--surface-elevated-color);

}

.delete {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 5px 10px 5px auto;
    padding: 5px 5px;
    width: clamp(25px, 25dvw, 200px);
    color: var(--brand-text-color);
    background-color: var(--reject-color);
}