.container {
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
}

.infoBox textarea {
    padding: 5px 10px;
    width: clamp(100%, 300px, 500px);
    height: clamp(100px, 150px, 200px);
}