.main {
}
.container {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 100%, 500px);
    margin: 10px 0;
    padding: 10px 10px 10px 20px;
    border-radius: 2px;
    background-color: var(--surface-color);
}

.date {

}

.room {
    color: var(--text-secondary-color);

}

.time {
    padding-top: 5px;
     border-top: 0.5px solid var(--text-secondary-color);

}

.iconContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.option {
    cursor: pointer;
    text-align: center;
    width: clamp(100px, 25dvw, 300px);
    background-color: var(--brand-color);
    color: var(--brand-text-color);

}

.backlineTab {

}

.inputContainer {
    margin: 10px 0 0 0;

}

.checkboxContainer {

}
.checkboxContainer input {
    margin: 10px 0 10px 0;
}
.checkboxContainer label {
    padding: 0 0 0 10px
}

.infoBox {
    margin: 10px 0 0 0 ;

}

.infoBox span {
}

.infoBox:focus {
    
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: clamp(10px, 5dvw, 100px)
}

.applyAll {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    width: clamp(125px, 25dvw, 200px);
    color: var(--brand-text-color);
    background-color: var(--surface-elevated-color);
    background-color: var(--brand-color);
    color: var(--brand-text-color);
}

.closeButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 5px;
    width: clamp(25px, 15dvw, 200px);
    color: var(--brand-text-color);
    background-color: var(--surface-elevated-color);

}

.bottomHalf {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0 0 0 auto;
}

.delete:hover {
    color: var(--reject-color);
}