.container {
    margin-left: 20px;
    position: relative;
    background-color: var(--surface-color);
    width: max-content;

}

.display {
    position: relative;
    padding: 10px 8px 10px 14px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.invisibleText {
    color: transparent;
    pointer-events: none;
}

.selected {
    padding: 4px 6px 4px 10px;
    position: absolute;
    top: 6px;
    left: 0;
}

.button {
    cursor: pointer;

}

.dropdownContainer {
    width: 100%;
    position: relative;
    background-color: var(--surface-color);
}
.dropdown {
    max-height: 240px;
    overflow-y: scroll;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: var(--surface-color);
    
}

.item {
    padding: 4px 6px;
}

.item:hover {
    cursor: pointer;
    background-color: var(--surface-elevated-color);
}

.item:active {
    background-color: var(--brand-color);
    color: var(--brand-text-color);
}

.item.unavailable {
    padding: 4px 6px;
    text-decoration: line-through;
}

.item.unavailable:hover {
    cursor: pointer;
}

.item.unavailable:active {
    background-color: var(--brand-color);
    color: var(--brand-text-color);
}

.hidden {
    display: none;
}