/* Target the current day cell in FullCalendar */
.fc .fc-day-today {
  position: relative;
}

/* Use a pseudo-element to build an overlay border */
.fc .fc-day-today::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid var(--highlight-color); /* Change this to your preferred color */
  z-index: 2; /* Ensures the border sits on top of cell backgrounds */
  pointer-events: none; /* Allows users to still click the cell */
}

/* month view */
.fc-dayGridMonth-view {
  border: 0px solid red !important;
  background-color: var(--surface-elevated-color);
  user-select: none;
}

/* day view */
.fc-timeGridDay-view {
}

/*Days of week header */
.fc-scrollgrid thead {
  background-color: var(--surface-elevated-color) !important;
}

/* Arrow and today buttons*/

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0 !important;
}

div.fc-button-group {
  display: flex !important;
  justify-content: center !important;
  gap: 5px;

}
.fc-button {
  background-color: var(--surface-elevated-color);
}
.fc-prev-button, .fc-next-button {
    border-radius: 2px !important;
    background-color: var(--brand-color) !important;
    border: 1px solid var(--bg-color) !important;
}
.fc-icon-chevron-left, .fc-icon-chevron-right {
  font-weight: bold;

}
/* Today button */
.fc-button.fc-today-button {
  display: none;
}
.fc-button.fc-today-button:hover {
}

/* disabled days */
.fc-day-disabled {
  background-color: var(--surface-color) !important
  ;
}

/* grid */
.fc-theme-standard td {
  border: 1px solid var(--text-color) !important;
}

.fc-theme-standard th {
  border-top: 1px solid var(--text-color) !important;
  border-left: 1px solid var(--text-color) !important;
  border-right: 1px solid var(--text-color) !important;
}

.fc-scrollgrid {
  border: 0px solid red !important
}

th {
  border: 0px solid red !important;
}

tbody {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}


@media screen and (max-width: 700px) {
  .fc-view-harness{
    display: none;
  }
}
