/* Target the current day cell in FullCalendar */
.fc .fc-day-today {
  position: relative;
  background-color: var(--bg-color) !important;
}

/* Use a pseudo-element to build an overlay border */
.fc .fc-day-today::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid var(--highlight-color); /* Change this to your preferred color */
  z-index: 2; /* Ensures the border sits on top of cell backgrounds */
  pointer-events: none; /* Allows users to still click the cell */
}

/* month view */
.fc-dayGridMonth-view {
  background-color: var(--surface-elevated-color);
  user-select: none;
}

/* day view */
.fc-timeGridDay-view {
}

/*Days of week header */
.fc-scrollgrid thead {
  background-color: var(--surface-elevated-color) !important;
}

/* Arrow and today buttons*/
.fc-button {
  background-color: var(--surface-elevated-color);
}
/* Today button */
.fc-button.fc-today-button {
  background-color: var(--brand-color);
}
.fc-button.fc-today-button:hover {
  background-color: var(--brand-hover-color);
}


@media screen and (max-width: 700px) {
  .fc-view-harness{
    display: none;
  }
}
