.container {
    display: flex;
    flex-direction: column;


}

.main {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
}

.title {
    color: var(--brand-text-color);
    margin-right: auto;
    cursor: pointer;

}

.hamburger {
    display: none;
}

.cart {
    display: flex;
    cursor: pointer;
    color: var(--brand-text-color);
}

.cart:active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.listContainer {
    display: flex;
    flex: 1;
    position: relative;
}

@media screen and (min-width: 1000px) {
    .list {
        z-index: 1;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 5px 0;
        gap: 60px;
        background-color: var(--surface-elevated-color);
    }
    .item {
        color: var(--text-color);
    }

    .item:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 1px;
    }
    .item:active {
        color: var(--brand-hover-color)
    }
    .icon {
        display: none;
    }
}


@media screen and (max-width: 1000px) {
    .main {
        padding: 4px 16px;
    }
    .hamburger {
        margin-left: 20px;
        display: block;
        color: var(--brand-text-color);
        cursor: pointer;
    }
    .menuClose, .menuOpen {
        color: var(--brand-text-color);
    }
    .list {
        padding: 0 20px;
        z-index: 1;
        position: absolute;
        width: 100%;
        background-color: var(--surface-color);
    }

    .item {
        display: flex;
        justify-content: flex;
        align-items: center;
        gap: 20px;
        padding: 24px 0 0 16px;
        font-weight: bold;
        font-size: 32px;
        color: var(--text-color);
    }

    .icon {
        width: 32px;
    }
    .hidden {
        overflow: hidden;
        pointer-events: none;
        height: 0;
        transition: height 350ms ease 50ms;
    }
    .open {
        pointer-events: all;
        height: 100dvh;
        transition: height 350ms ease-in-out 50ms;
    }

    .hidden .item {
        transform: translateY(-10px);
        transition: 
            opacity 350ms ease,
            transform 350ms ease;
        opacity: 0;
        pointer-events: none;
        
    }

    .open .item {
        transition: 
            opacity 350ms ease-in-out,
            transform 350ms ease-in-out;
        opacity: 1;
        transform: translateY(0);
    }
    .open .item:nth-child(1) { transition-delay: 150ms; }
    .open .item:nth-child(2) { transition-delay: 175ms; }
    .open .item:nth-child(3) { transition-delay: 200ms; }
    .open .item:nth-child(4) { transition-delay: 225ms; }
    .open .item:nth-child(5) { transition-delay: 250ms; }
    .open .item:nth-child(6) { transition-delay: 275ms; }
    .open .item:nth-child(7) { transition-delay: 300ms; }
    .open .item:nth-child(8) { transition-delay: 325ms; }
}