.container {
    margin: auto 0;
    min-width: 30vw;
    padding: 5px 5px;
    border: 2px solid var(--border-color);
    background-color: var(--surface-color);
    border-radius: 8px;
}
.list {
    list-style-type: none;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 5px;
    background-color: var(--surface-elevated-color);
    border: 2px solid var(--border-color);;
    border-radius: 8px;
}

.unavailableItem {
    color: var(--brand-text-color);
    background-color: var(--reject-color);

}
.isActive {
    color: var(--brand-text-color);
    background-color: var(--confirm-color);
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 5px;
    border: 2px solid var(--border-color);;
    color: var(--text-color);
    background-color: var(--surface-elevated-color);
    border-radius: 8px;
}

.button:active {
    background-color: var(--brand-color);
    color: var(--brand-text-color)
}